<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    <div class="flex">
        <div class="w-1/6 bg-gray-200 px-5 py-2 h-screen">
            <div class="flex items-center space-x-2">
                <img class="w-14 rounded-full border" src="/assets/img/avt.jpg" alt="">
                <h1 class="text-lg">Tin Nguyễn</h1>
                <i class="fas fa-caret-down"></i>
                
            </div>
        </div>
        <div class="w-1/6">
            
        </div>
    </div>
</body>
</html>